<h2>Please fill out the fields below to edit your instrument status.</h2>

<form method="POST" action="/instruments/<%= @instrument.id %>">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <h3>Type of instrument: <%= @instrument.type_of %></h3>
  <h3>Make: <%= @instrument.make %></h3>
  <h3>Model: <%= @instrument.model %></h3>

  Status: <% @statuses.each do |status| %>
    <input type="radio" name="status" value="<%= status %>" <%='checked' if @instrument.status == status %>><%= status %></input>
  <% end %><br /><br />
  Update Status Comments:
  <input type="text" name="status_comments" id="status_comments_new" placeholder="Update Status Comments:" required /><br /><br />
  <input type="submit" value="Update Instrument" />
</form>
<form method="GET" action="/instruments">
  <input type="submit" value="Cancel Update" />
</form>

<br />

<p><a href="/instruments/<%= @instrument.id %>/delete">Delete Instrument</a></p>
<p><a href="/instruments">View All Your Instruments</a></p>
<p><a href='/logout'>Logout</a></p>
