  <h3><a href="/users/<%= current_user.id %>">Home</a> -
    <a href="/instruments/new">Add Another Instrument</a> -
    <a href="accessories">View Accessories</a> -
    <a href="/repairs">View Ongoing Repairs</a> -
    <a href="/logout">Logout</a></h3>

  <h2>Instruments</h2>

  <table style="width:100%">

    <tr>
      <th>Type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Status</th>
      <th>Status Comments</th>
      <th>Options</th>
    </tr>
    <% @instruments.each do |instrument| %>
    <tr>
      <td><%= instrument.type_of %></td>
      <td><%= instrument.make %></td>
      <td><%= instrument.model %></td>
      <td><%= instrument.status %></td>
      <td><%= instrument.status_comments %></td>
      <td>
        <p><a href="/instruments/<%= instrument.id %>">View Instrument</a></p>
        <% if instrument.status != "In Repair" %>
          <p><a href="/instruments/<%= instrument.id %>/edit">Edit Instrument</a></p>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table><br />
