<h2>Are you sure you want to delete this accessory?</h2>

<table style="width:100%">

  <tr>
    <th>Type</th>
    <th>Make</th>
    <th>Model</th>
    <th>Status</th>
    <th>Status Comments</th>
  </tr>
  <tr>
    <td><%= @accessory.type_of %></td>
    <td><%= @accessory.make %></td>
    <td><%= @accessory.model %></td>
    <td><%= @accessory.status %></td>
    <td><%= @accessory.status_comments %></td>
  </tr>

</table><br />

<form method="POST" action="/accessories/<%= @accessory.id %>">
  <input type="hidden" id="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Accessory" />
</form>
