<table style="width:100%">

  <tr>
    <th>Type</th>
    <th>Make</th>
    <th>Model</th>
    <th>Status</th>
    <th>Status Comments</th>
  </tr>
  <tr>
    <td><%= @accessory.type_of %></td>
    <td><%= @accessory.make %></td>
    <td><%= @accessory.model %></td>
    <td><%= @accessory.status %></td>
    <td><%= @accessory.status_comments %></td>
  </tr>

</table><br />
<p><a href="/accessories/<%= @accessory.id %>/delete">Delete Accessory</a></p>
<p><a href="/accessories/<%= @accessory.id %>/edit">Edit Accessory</a></p>
<p><a href="/accessories/new">Add Another Accessory</a></p>
<p><a href="/accessories">View All Your Accessories</a></p>
<p><a href='/users/<%= @user.id =>'>Home</a></p>
<p><a href='/logout'>Logout</a></p>
